<a href="https://colab.research.google.com/github/aleksaveger-bot/AlexaVegera/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Практическое задание №1

Задание №1

In [ ]:
print("Hello,world")

Hello,world

Задание №2

In [ ]:
print(4, 8, 15, 16, 23, 42)

4 8 15 16 23 42

Задание №3

In [ ]:
print('*')
print('**')
print('***')
print('****')
print('*****')
print('******')
print('*******')

*
**
***
****
*****
******

Задание №4

In [ ]:
print("Отчёт о доходах")
print("1 квартал: 1200000 руб.")
print("2 квартал: 1350000 руб.")
print("3 квартал: 1280000 руб.")
print("4 квартал: 1420000 руб.")

Отчёт о доходах
1 квартал: 1200000 руб.
2 квартал: 1350000 руб.
3 квартал: 1280000 руб.
4 квартал: 1420000 руб.

Задание №5

In [ ]:
analyst_name = input()
print('Добро пожаловать в команду,', analyst_name, '!')

Александра
Добро пожаловать в команду, Александра !

Задание №6

In [ ]:
company_name = input()
print(company_name,"- лидер рынка!")

Ромашка
Ромашка - лидер рынка!

Задание №7

In [ ]:
name = input()
quantity_strings= input()
number_colums=input()
print(name)
print(quantity_strings)
print(number_colums)

Sales Q1
2000
8
Sales Q1
2000
8

Задание №8

In [ ]:
reporting1=input()
reporting2=input()
reporting3=input()
print(reporting3)
print(reporting2)
print(reporting1)

Продажи за январь
Продажи за февраль
Продажи за март
Продажи за март
Продажи за февраль
Продажи за январь

In [ ]:
reporting=['Продажи за январь','Продажи за февраль','Продажи за март']
print('',reporting[-1],'\n',reporting[-2],'\n',reporting[-3],'\n')

 Продажи за март
 Продажи за февраль
 Продажи за январь

Задание №9

In [ ]:
base_price = 100
growth_percent = 20
new_price =(base_price*(growth_percent/100))+base_price
print("new_price=",new_price)
delta = new_price-base_price
print("delta=",delta)

new_price= 120.0
delta= 20.0

Задание №10

In [ ]:
district1="Северный"
district2="Центральный"
district3="Южный"
print(district1, district2, district3, sep='***')

Северный***Центральный***Южный

Задание №11

In [ ]:
analyst_name=input()
print("Подключение установлено. Добро пожаловать", end=' , ')
print(analyst_name,'!')

Александра
Подключение установлено. Добро пожаловать , Александра !

Задание №12

In [ ]:
end=input()
pruduct_name1=input()
pruduct_name2=input()
pruduct_name3=input()
print(pruduct_name1 ,end,pruduct_name2 ,end,pruduct_name3 )

|
Молоко
Хлеб
Сыр
Молоко | Хлеб | Сыр

Задание №13

In [ ]:
value_str='34.4'
value_str_float=float(value_str)
integer_part=int(value_str_float)
print("integer_part=",integer_part)

integer_part= 34

In [ ]:
value_str='34.4'
integer_part=int(float(value_str))
print("integer_part=",integer_part)

integer_part= 34

Задание №14

In [ ]:
orders_yesterday = 10
plan = 20
abs_diff=abs(orders_yesterday-plan)
print("Абсолютное отклонение от плана равняется",abs_diff)

Абсолютное отклонение от плана равняется 10

Задание №15

In [ ]:
number1=int(input())
number2=int(input())
number3=int(input())
number4=int(input())
number5=int(input())
min_number=min(number1,number2,number3,number4,number5)
max_number=max(number1,number2,number3,number4,number5)
print('Наименьшее число = ',min_number)
print("Наибольшее число = ",max_number)

1
2
3
4
5
Наименьшее число =  1
Наибольшее число =  5

In [ ]:
number1=1
number2=2
number3=3
number4=4
number5=5
min_number=min(number1,number2,number3,number4,number5)
max_number=max(number1,number2,number3,number4,number5)
print('Наименьшее число = ',min_number)
print("Наибольшее число = ",max_number)

Наименьшее число =  1
Наибольшее число =  5

Задание №16

In [ ]:
name=input()
surname=input()
key_phrase="Привет, "+name+' '+surname+"! Вы только что начали изучать Python"
print(key_phrase)

Александра
Бычкова
Привет, Александра Бычкова! Вы только что начали изучать Python

Задание №17

In [ ]:
citation_part1=input()
citation_part2=input()
citation_whole='"'+citation_part1+","+''+citation_part2+'."'
print(citation_whole)

Каждый в этой стране должен научиться программировать
 потому что это учит  думать
"Каждый в этой стране должен научиться программировать, потому что это учит  думать."

In [ ]:
citation_part1=input()
citation_part2=input()
citation_whole=citation_part1+' '+citation_part2
print(citation_whole)

Каждый в этой стране должен  научиться программировать,
потому  что это учит думать."
Каждый в этой стране должен  научиться программировать,  потому  что это учит думать."

Задание №18

In [ ]:
sum_of_purchase=int(input())
edge_of_discont=int('1000')
print(sum_of_purchase>edge_of_discont)

999
False

In [ ]:
sum_of_purchase=999
edge_of_discont=1000
print(sum_of_purchase>edge_of_discont)

False

Задание №19

In [ ]:
age=16
adult_age=18
print(age>=adult_age)

False

Задание №20

In [ ]:
volume_data=500.0
speed1=50.0
speed2=70.0
time_of_meeting=volume_data/(speed1+speed2)
print(time_of_meeting)

4.166666666666667

Задание №21

In [ ]:
length_leg_a=int(input())
length_leg_b=int(input())
square=(length_leg_a*length_leg_b)/2
print(square)

 443
390
86385.0

In [ ]:
length_leg_a=443
length_leg_b=390
square=(length_leg_a*length_leg_b)/2
print(square)

86385.0

Задание №22

In [ ]:
temperature_in_Faringate=450.55
temperatere_in_Celsuis=(5/9)*(temperature_in_Faringate-32)
print(temperatere_in_Celsuis)

232.5277777777778

Задание №23

In [ ]:
revenue_str="438746.78"
revenue_float=float(revenue_str)
bonus=int(revenue_float*1/100)
courier_name=input()
report="Отчет для менеджера:"
print(report)
print("Курьер",' ',courier_name,' ','получит бонус ',bonus,' р.')

Василий
Отчет для менеджера:
Курьер   Василий   получит бонус  4387  р.

# Практическое задание №2

Задание №1

In [6]:
pasword1=input()
pasword2=input()
if pasword1==pasword2:
  print('Пароль принят')
else:
  print('Пароль не принят')

qwerty
qwerty
Пароль принят

Задание №2

In [10]:
age=int(input())
if age>=18:
  print('Доступ разрешен')
else:
  print('Доступ запрещен')

16
Доступ запрещен

Задание №3

In [11]:
number1=int(input())
number2=int(input())
num=min(number1,number2)
print(num)

3
14
3

In [21]:
number1=int(input())
number2=int(input())
if number1<number2:
  print(number1)
else:
  print(number2)

12
4
4

Задание №4

In [26]:
number1=int(input())
number2=int(input())
number3=int(input())
if number2==number1+1 and number3==number2+1:
  print('Да')
else:
  print('Нет')

1
2
3
Да

Задание №5

In [50]:
number1=int(input())
number2=int(input())
number3=int(input())
total=0 #вводим счетчик
numbers=[number1,number2,number3]
for num in numbers:
    if num > 0:
        total += num #добавление числа к счетчику
print(total)

23
4
-5
27

Задание №6

In [53]:
number1=int(input())
number2=int(input())
number3=int(input())
number4=int(input())
smallest=number1 #Допустим, что первое число самое маленькое
if number2<smallest: #сравнение с самым маленьким числом
  smallest=number2
if number3<smallest:
  smallest=number3
if number4<smallest:
  smallest=number4
print(smallest)

6
9
12
2
2

Задание №7

In [56]:
year=int(input())
if year % 4 == 0 and not year % 100 == 0 or year % 400 == 0: #условия проверки кратности % числу == 0
  print('Да')
else:
  print('Нет')

2020
Да

Задание №8

In [72]:
number1=int(input())
number2=int(input())
number3=int(input())
if number2<number1<number3 or number3<number1<number2: #берем за медиану число 1
  mediana=number1
elif number1<number2<number3 or number3<number2<number1: #берем за медиану число 2
  mediana=number2
else:
  mediana=number3 #берем за медиану число 3
print("Медиана:",mediana)

45
6
16
Медиана: 16

Задание №9

In [73]:
for i in range(10):
    print("Войти в IT с Python")

Войти в IT с Python
Войти в IT с Python
Войти в IT с Python
Войти в IT с Python
Войти в IT с Python
Войти в IT с Python
Войти в IT с Python
Войти в IT с Python
Войти в IT с Python
Войти в IT с Python