<a href="https://colab.research.google.com/github/aleksaveger-bot/AlexaVegera/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Задание №1

In [ ]:
print("Hello,world")

Hello,world

Задание №2

In [ ]:
print(4, 8, 15, 16, 23, 42)

4 8 15 16 23 42

Задание №3

In [ ]:
print('*')
print('**')
print('***')
print('****')
print('*****')
print('******')
print('*******')

*
**
***
****
*****
******

Задание №4

In [ ]:
print("Отчёт о доходах")
print("1 квартал: 1200000 руб.")
print("2 квартал: 1350000 руб.")
print("3 квартал: 1280000 руб.")
print("4 квартал: 1420000 руб.")

Отчёт о доходах
1 квартал: 1200000 руб.
2 квартал: 1350000 руб.
3 квартал: 1280000 руб.
4 квартал: 1420000 руб.

Задание №5

In [ ]:
analyst_name = input()
print('Добро пожаловать в команду,', analyst_name, '!')

Александра
Добро пожаловать в команду, Александра !

Задание №6

In [ ]:
company_name = input()
print(company_name,"- лидер рынка!")

Ромашка
Ромашка - лидер рынка!

Задание №7

In [ ]:
name = input()
quantity_strings= input()
number_colums=input()
print(name)
print(quantity_strings)
print(number_colums)

Sales Q1
2000
8
Sales Q1
2000
8

Задание №8

In [ ]:
reporting1=input()
reporting2=input()
reporting3=input()
print(reporting3)
print(reporting2)
print(reporting1)

Продажи за январь
Продажи за февраль
Продажи за март
Продажи за март
Продажи за февраль
Продажи за январь

In [17]:
reporting=['Продажи за январь','Продажи за февраль','Продажи за март']
print(reporting[-1],'\n',reporting[-2],'\n',reporting[-3],'\n')

Продажи за март
 Продажи за февраль
 Продажи за январь

Задание №9

In [2]:
base_price = 100
growth_percent = 20
new_price =(base_price*(growth_percent/100))+base_price
print("new_price=",new_price)
delta = new_price-base_price
print("delta=",delta)

new_price= 120.0
delta= 20.0

Задание №10

In [19]:
district1="Северный"
district2="Центральный"
district3="Южный"
print(district1, district2, district3, sep='***')

Северный***Центральный***Южный

Задание №11

In [21]:
analyst_name=input()
print("Подключение установлено. Добро пожаловать", end=' , ')
print(analyst_name,'!')

Александра
Подключение установлено. Добро пожаловать , Александра !

Задание №12

In [24]:
end=input()
pruduct_name1=input()
pruduct_name2=input()
pruduct_name3=input()
print(pruduct_name1 ,end,pruduct_name2 ,end,pruduct_name3 )

|
Молоко
Хлеб
Сыр
Молоко | Хлеб | Сыр

Задание №13

In [42]:
value_str='34.4'
value_str_float=float(value_str)
integer_part=int(value_str_float)
print("integer_part=",integer_part)

integer_part= 34

In [44]:
value_str='34.4'
integer_part=int(float(value_str))
print("integer_part=",integer_part)

integer_part= 34

Задание №14

In [48]:
orders_yesterday = 10
plan = 20
abs_diff=abs(orders_yesterday-plan)
print("Абсолютное отклонение от плана равняется",abs_diff)

Абсолютное отклонение от плана равняется 10

Задание №15

In [49]:
number1=int(input())
number2=int(input())
number3=int(input())
number4=int(input())
number5=int(input())
min_number=min(number1,number2,number3,number4,number5)
max_number=max(number1,number2,number3,number4,number5)
print('Наименьшее число = ',min_number)
print("Наибольшее число = ",max_number)

1
2
3
4
5
Наименьшее число =  1
Наибольшее число =  5

In [50]:
number1=1
number2=2
number3=3
number4=4
number5=5
min_number=min(number1,number2,number3,number4,number5)
max_number=max(number1,number2,number3,number4,number5)
print('Наименьшее число = ',min_number)
print("Наибольшее число = ",max_number)

Наименьшее число =  1
Наибольшее число =  5